#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Global background across all views */
html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgb(0, 20, 131));
    background-repeat: no-repeat;
    background-attachment: fixed;
}
